
.title{
    margin: auto;
    text-align: center;
    background-color: #2fb4f7;
    height: 40px;
    width: 100%;
    color: white;
}
.bacg_c_eaeaea {
    background-color: #eaeaea;
}
.ming_pian{
    color: #9b9b9b;
    text-align: center;
    margin-top: 10px;
}
.ming_pian:before, .ming_pian:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 130px;
    background: #d0d0d0;       /*宽和高做出来的背景横线*/
    width: 20%;
    height: 1px;

}
.ming_pian:before{
    left: 12%;        /*调整背景横线的左右距离*/
}
.ming_pian:after {
    right: 12%;
}
